body {
    font-family: Arial, sans-serif;
   background-color: #2c3e50;
    color: #f4f6f8;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background: #2c3e50;
    color: white;
}

a, button {
    padding: 6px 10px;
    background: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

a.delete {
    background: #e74c3c;
}

.btn-banyakan {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.btn-banyakan a {
    margin: 10px;
}

.result-box, #convert-form {
    text-align: center;
    justify-content: center;
}

#convert-form label {
    margin-top: 10px;
}
#convert-form select, input {
    margin-bottom: 10px;
}

.convert-btn {
    margin-top: 20px;
}

::-webkit-scrollbar {
    display: none;
}